<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zzh.bamboobook">

	<uses-sdk
		android:minSdkVersion="9"
		android:targetSdkVersion="24" />

	<!-- 配置权限 -->
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    
    <application
        android:name=".ZZHApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait">
			<!--android:theme="@style/SplashAppTheme"-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
			<meta-data android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" 
			android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>
        <activity
            android:name=".activity.EditActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|keyboardHidden|screenSize">

        </activity>

        <activity
            android:name=".PhotoViewActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
			android:configChanges="orientation|keyboardHidden">
        </activity>
		
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="580ccd4d75ca353908005598" />    
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="CODING"/>
        
    </application>
</manifest>
